---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Sora ZHANG" description="Porfolio page for Sora ZHANG, budding full stack web developer. A lifelong learner sharing her resume, projects and thoughts.Looking for coop, intern, student opportunities in a more equitable and connected world.">
	<Card
	  name="Sora ZHANG"
	  position="Web Developer"
	  aboutMe={`Hi there, I am Sora. Not affliated with openAI. Yet. In case that is how you got here.`}
	  linkedin="https://www.linkedin.com/in/sora-zhang-9a7b132b2/"
	  github="https://github.com/soraraso42"
	  cvLink="/files/SORA_ZHANG_RESUME_2024SEP.pdf"
	  profileImage="/images/profile1.JPG"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->